<mat-card id="registerCard">
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">account_circle</i>
    </div>
    <mat-card-title>Reset password</mat-card-title>
    <mat-card-subtitle>
      Write your email and we will send you a link to reset your password
    </mat-card-subtitle>
  </mat-card-header>
  <form (submit)="sendEmail()">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Your email" type="text" class="form-control" [formControl]="emailControl">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button type="submit">Send Email</button>
    </mat-card-actions>
  </form>
</mat-card>
