<h1>Teams</h1>
<mat-table [dataSource]="teams | async">
  <ng-container matColumnDef="index">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="!editing(element)">{{element.name}}</span>
      <mat-form-field *ngIf="editing(element)">
        <input matInput placeholder="Edit team name" type="text" class="form-control" [(ngModel)]="element.name">
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="group">
    <mat-header-cell *matHeaderCellDef> Group </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="!editing(element)">{{element.groupId | getGroupName | async}}</span>
      <mat-form-field *ngIf="editing(element)">
        <mat-select [(value)]="element.groupId">
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let group of groups | async" [value]="group.$key">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button mat-raised-button color="primary" (click)="editTeam(element)" *ngIf="!editing(element)">Edit</button>
      <button mat-button mat-raised-button color="primary" (click)="saveTeam(element)" *ngIf="editing(element)">Save</button>
      <button mat-button mat-raised-button color="red" (click)="deleteTeam(element)">Delete</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-form-field>
  <input matInput placeholder="Add new team" type="text" class="form-control" #newTeam
         (keydown.enter)="addTeam(newTeam.value); newTeam.value = '';">
</mat-form-field>
<button mat-button mat-raised-button color="primary" (click)="addTeam(newTeam.value); newTeam.value = '';">Add Team</button>
