<h1>Groups</h1>
<mat-table [dataSource]="groups | async">
  <ng-container matColumnDef="index">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="!editing(element)">{{element.name}}</span>
      <mat-form-field *ngIf="editing(element)">
        <input matInput placeholder="Edit team name" type="text" class="form-control" [(ngModel)]="element.name">
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button mat-raised-button color="primary" (click)="editGroup(element)" *ngIf="!editing(element)">Edit</button>
      <button mat-button mat-raised-button color="primary" (click)="saveGroup(element)" *ngIf="editing(element)">Save</button>
      <button mat-button mat-raised-button color="red" (click)="deleteGroup(element)">Delete</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-form-field>
  <input matInput placeholder="Add new team" type="text" class="form-control" #newTeam
         (keydown.enter)="addGroup(newTeam.value); newTeam.value = '';">
</mat-form-field>
<button mat-button mat-raised-button color="primary" (click)="addGroup(newTeam.value); newTeam.value = '';">Add Team</button>
